.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.heart{
    max-width: 40px;
    max-height: 40px;
}

.nofavs-container{
    margin-left: auto;
    margin-right: auto;
    padding:10px 0px;
    margin-top: 100px;
    background-color: rgb(139, 198, 254);
    text-align: center;
    max-width: 700px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    font-weight: 500;
    font-size: 40px;
    padding: 6px 18px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(255, 75, 81);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .3s;
}

.search-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.select-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.select-container span{
    font-size: 20px;
    font-weight: 500;
}

.select-container select {
    height: 30px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}