.searcher-container{
    margin-top: 40px;
}

.cards-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.124);
}

.search-logo{
    max-width: 40px;
}

.form button{
    border: none;
    background-color: aliceblue;
    cursor: pointer;
}

.form input {
    height: 35px;
    width: 250px;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}