.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid black;
    padding-left: 70px;
    padding-right: 70px;
    gap: 10px;
    flex-wrap: wrap;
}

.navbarContainer h1{
    margin: 8px;
}

.navbarContainer span{
    font-size: 18px;
    font-weight: 500;
}

.nav-logo{
    max-width: 60px;
}