.crypto-card-container{
    display: flex;
    gap: 5px;
    padding: 8px 20px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.124);
}

.crypto-card-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 3px 10px 0 rgba(0, 0, 0, 0.124);
}

.crypto-card-logo{
    max-width: 50px;
    max-height: 50px;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}


.delete-button{
    border: none;
    cursor: pointer;
    background-color: aliceblue;
}

.delete-button img{
    max-width: 30px;
}

.crypto-card-container h5{
    font-size: 16px;
    margin-right: 30px;
}