.crypto-card-container{
    display: flex;
    gap: 5px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.crypto-card-logo{
    max-width: 50px;
    max-height: 50px;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}


.delete-button{
    border: 1px solid rgb(168, 166, 166);
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(251, 84, 84);
}