.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fff;
    min-width: 800px;
    min-height: 800px;
    padding: 1rem;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    font-weight: 500;
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(75, 114, 255);
}

.search-button:hover {
    background-color: rgb(182, 182, 182);
    color:  black
}