.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fff;
    min-width: 800px;
    min-height: 800px;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    font-size: 23px;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width:870px) {
    .modal-container{
        min-width: 300px;
        min-height: 300px;
        margin: 20px;
    }
}

@media (max-width:590px) {
    .modal-container{
        min-width: 300px;
        min-height: 200px;
    }
}
