.navbarContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border:1px solid black;
}

.navbarContainer h1{
    margin: 8px;
}